@import "../styles/mixin.scss";

.connect-outer-container {
  .upper-round {
    height: 100px;
    width: 100%;
    position: absolute;
    transform: translateY(-100px);
    background-color: white;
    border-radius: 100px 100px 0 0;
  }
  .connect-container {
    @include Flex();
    padding: 5rem 7.5rem 15rem 7.5rem;
    background-color: white;
    color: black;

    .connect-left {
      width: 30%;
      // color: $gray;
      h2 {
        font-weight: 500;
        font-size: 5rem;
        margin: 0;
        line-height: 110%;
      }
      p {
        width: 300px;
        font-family: "pontano Sans";
        font-weight: 600;
        font-size: 1.1rem;
        line-height: 150%;
      }
    }
    .connect-right {
      width: 70%;
      @include Flex();

      .model-container {
        width: 700px;
        height: 500px;
        overflow: hidden;
        img {
          // z-index: -1;
          height: 500px;
          position: absolute;
          border-radius: 30px;
        }
        div {
          z-index: 10;
          @include Flex();
          height: 600px;
          width: 700px;
          .layer {
            position: absolute;
          }
        }
      }
    }
  }

  @media (max-width: 1800px) {
    .connect-container {
      .connect-right {
        display: block;
      }
    }
  }
  @media (max-width: 1300px) {
    .connect-container {
      padding: 2rem 4% 11rem 4%;
      gap: 2rem;
      .connect-left {
        h2 {
          font-size: 4rem;
        }
      }
      .connect-right {
        .model-container {
          width: 500px;
          img {
            width: 600px;
          }
          div {
            width: 600px;
          }
        }
      }
    }
  }
  @media (max-width: 800px) {
    .upper-round {
      height: 60px;
      transform: translateY(-100%);
    }
    .connect-container {
      flex-direction: column-reverse;
      gap: 2rem;
      .connect-left {
        width: 100%;
        text-align: center;
        h2 {
          font-size: 4rem;
          line-height: 100%;
        }
        p {
          width: 100%;
          margin: 10px 0 20px 0;
        }
      }
      .connect-right {
        display: flex;
        justify-content: center;
        width: 100%;
        .model-container {
          width: 500px;
          img {
            width: 500px;
          }
          div {
            width: 500px;
            height: 500px;
          }
        }
      }
    }
  }
  @media (max-width: 550px) {
    .upper-round {
      height: 40px;
      transform: translateY(-100%);
    }
    .connect-container {
      padding: 2rem 4% 7rem 4%;
      flex-direction: column-reverse;
      gap: 2rem;
      .connect-left {
        width: 100%;
        text-align: center;
        h2 {
          font-size: 3rem;
          line-height: 100%;
        }
        p {
          width: 100%;
          margin: 10px 0 20px 0;
        }
      }
      .connect-right {
        display: flex;
        justify-content: center;
        width: 100%;
        .model-container {
          width: 320px;
          height: 200px;
          img {
            width: 320px;
            height: 200px;
            border-radius: 15px;
          }
          div {
            width: 320px;
            height: 200px;
          }
        }
      }
    }
  }
}
