@import "../styles/mixin.scss";

.header-container {
  @include Flex();
  font-family: "poppins";
  justify-content: space-between;
  // padding: 2rem 0;

  .header-left {
    width: 20%;
    font-family: "anton";
    font-size: 2rem;
    @include Flex();

    img {
      cursor: pointer;
      transition: ease-in-out 200ms;
      &:hover {
        scale: 1.05;
        transition: ease-in-out 200ms;
      }
    }
  }
  .header-middle {
    a {
      text-decoration: none;
      color: white;
    }
    width: 50%;
    @include Flex();
    justify-content: space-around;
    padding: 2rem;
    font-weight: 600;
    // text-transform: uppercase;
    // gap: 4rem;
    list-style: none;
    .middle-item {
      cursor: pointer;
      transition: ease-in-out 200ms;
      &:hover {
        scale: 1.05;
        transition: ease-in-out 200ms;
      }
    }
  }
  .header-right {
    width: 20%;
    // padding: 2rem 0;
    @include Flex();
    list-style: none;
  }
}
